*.iml
*.yml
*.log
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.babelrc
.build
node_modules
.cache
index.js
assets/**/*.less
build/
examples/
src/
tests/
